.carousel-inner{
    max-height: 38em;
    width: 100%;
    margin: auto;
}
.plantilla_color{
    background-image: url("../img/img_superman/fondo2jpg.jpg");
}
.claro{
    background: #7DE5ED;
}
.claro2{
    background: #FD5D5D;
}
.raya{
    display: flex;
    display: inline-block;
    border-top: 1px solid;
    border-bottom: 1px solid ;
    max-width: 100%;
    width: 400px;
    text-align: center;
    border-color: red;
}
.verde {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(221, 38, 38);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .verde:hover {
    background-color: #2396c4;
    box-shadow: 0px 15px 20px rgba(46, 171, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .verde:active {
    transform: translateY(-1px);
}

.centro{
    width: 50%;
    align-items: center;
}
#lado1{
    display: inline-block;
    display: inline-flex;
}
.centrar{
    
    display: flex;
    justify-content: center;
    height: 200px;
}
.pixel{
    border: 1px solid;
    border-top: 1px solid orange;
}

.navbar{
    background: #40484d;
}

@media (min-width:320px) and (max-width:767px){
    .video1{
        width: 80%;
        margin-left: 1em;
    }
    .two{
        width: 230px;
        margin:1px;
        
    }

 
    #centra_ico{
        margin-left: 4em;
    }

    #footer_cen{
        margin-left: 1em;
        margin-right: 1em;
    }
    .img_kri{
        margin-left: 1em;
    }
    
}

@media(min-width:425px){
    #footer_cen{
        margin-left: 3em;
    }
    #centra_ico{
        margin-left: 5em;
    }
}

@media(min-width:768px) and (max-width:1024px){
   .img_vs{
    display: flex;
    display: inline-block;
    margin-left: 16em;
    margin-right: 16em;
    
    
   }
   #vs{
    margin-right: 10em;
    margin-left: 10em;
   }
}




