/* custom.scss */
$success: #5CB8E4;
 $secondary: #181818;
/*$primary: #600883;
$danger: #181818;
$warning: #181818;
$info: #181818;*/
$light: #28a138;
/*$dark: #181818;*/
@import "../node_modules/bootstrap/scss/bootstrap";